<div class="container mt-5 mb-5">
    <h1>Contato</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Entre com seu Primeiro Nome" >
            </div>

            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Entre com seu Ultimo Nome">
            </div>

            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Entre com seu Email">
            </div>

            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Entre com seu Celular">
            </div>

            <div class="col-lg-12">
                <button class="btn btn-md btn-dark">Enviar</button>
            </div>
        </div>
    </form>
</div>
